In [1]:
print("Hello Anaconda. This is Python 3 in Jupyter Notebook!")

Hello Anaconda. This is Python 3 in Jupyter Notebook!

In [2]:
print("That's another cell I would like to run.")

That's another cell I would like to run.

In [3]:
asd = 123

In [4]:
print(asd + 45)

168

This is a markdown cell. Oh great! I can put some comments if I like.

In [5]:
import numpy as np
import sklearn
import matplotlib
import pandas as pd

In [6]:
# To Add Two Numbers
num1 = 8
num2 = 5
sum = num1 + num2
print(sum)

13

In [7]:
a = np.array([1, 2, 3])
print(a)

[1 2 3]

In [8]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
pd.Series(list1)

0    a
1    b
2    c
dtype: object

In [9]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
pd.Series(list1, index=list2)

1    a
2    b
3    c
dtype: object

Never forget that when you re-launch a notebook, you must execute codes in each cell from top to bottom!